langchain==0.2.6
langchain-community==0.2.6
langchain-groq
langchain-pinecone==0.1.2
langchain-huggingface
pinecone-client==3.2.2
flask==3.1.1
sentence-transformers==2.2.2
pypdf==5.6.1
python-dotenv==1.1.0
pymongo==4.7.2
certifi
requests
flask-jwt-extended==4.6.0
bcrypt==4.1.2